@import 'tailwindcss';

@theme {
	--color-base: #0a0a0a;
	--color-card: #1a1a1a;
	--color-text-main: #f5f5f5;
	--color-text-sub: #a0a0a0;
	--color-accent: #0ea5e9;
	--color-accent-light: #38bdf8;
}

:root {
	font-family: "Playwrite NZ Basic", cursive;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
}
