.github-repo {
  text-decoration: none;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #1f1f1f;
  display: block;
}

.github-repo div {
  display: grid;
  grid-template-columns: 1rem 1fr;
  grid-template-rows: 1fr 1fr;
}

.github-repo .repo-icon {
  place-self: center;
}

.github-repo span {
  padding-left: 1rem;
  place-content: center;
}

.github-repo .repo-name {
  font-size: 1.25rem;
  font-weight: 700;
}
