.github-repo {
  text-decoration: none;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-image: none;
  background-size: 150% 100%;
  background-position: 50% 0;
  display: block;
  transition: background-position 0.5s ease-in-out;
}

.github-repo:hover {
  background-position: 100% 0;
}

.github-repo div {
  display: grid;
  grid-template-columns: 1rem 1fr;
  grid-template-rows: 1fr 1fr;
}

.github-repo .repo-icon {
  place-self: center;
}

.github-repo span {
  padding-left: 1rem;
  place-content: center;
}

.github-repo .repo-name {
  font-size: 1.25rem;
  font-weight: 700;
}
